.container {
    display: flex;
    justify-content: center;
    /* display: inline-block; */
  border: 1px solid;
  margin: 15px;
  width: 60%;
}

.container input {

    border: none;
    width: 100%;
    padding-left: 35px;
  }

  .container button {
    border: none;
width: 45px;
height: 45px;
background-color: white;

  }