.navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .navItem {
    height: 80px;
  }
  
  .navLinks {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .navLinks:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
