.navbar{
    height: 80px;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
}
.navbarContainer{
    background: #4c526d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 15px;

}
.navbarLogo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.navbarLogo img{
    height: 60px;
  }